
:root{
  --black: rgb(20, 20, 20);
  --white: rgb(240,240,240);
  --blue: rgb(28, 145, 207);
  --red: rgb(221, 49, 49);
}

body{
  background-color: var(--black);
  color: var(--white) ;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  user-select: none;
}

/* ================ Buttons =============== */
.sectionbtn{
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 1em;
}

.btn{
  width: 150px;
  height: 70px;
  color: var(--black);
  font-size: 1.2em;
  font-weight: 700;
  border: 0px ;
  transition: all 0.7s ease-out;
  margin-top: 2em;
  margin-bottom: 1em;
}

.btn:hover{
  background-color: var(--white);
  color: var(--black);
}

.btnclic{
    border-top-left-radius:1em ;
    border-bottom-left-radius:1em ;
    background-color: var(--blue);
}

.btnDelete{
  border-top-right-radius:1em ;
  border-bottom-right-radius:1em ;
  background-color: var(--red);  
}

.containerBtns{
  width: 300px;
  height: auto;
  display: grid;
  gap: 0.3em;
  grid-template-columns: repeat(2, 1fr);
}

/* =================== DISPLAY COUNTER ============ */
.displayCounter{
  width: 300px;
  height: 300px;
  border: 5px solid var(--white);
  margin-top: 2em;
  border-radius: 1em;
}

.number{
  font-size: 5em;
}